
.mydarkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    /* z-index: 1; all crrect until msgscheduling model */
    z-index: 2; /*after msgscheduling model*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
  
  .mycentered {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .mymodal {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
    width: 300px;
    height: fit-content;
    max-height: 465px;
    overflow: auto;
    background: white;
    color: white;
    z-index: 100;
    border-radius: 16px;
    /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04); */
    box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
         -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
        -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
        inset 1px -1px 2px 0 rgba(102, 102, 102, 0.2),
        -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
        1px 1px 3px 0 rgba(102, 102, 102, 0.9);
  }
  
  .mymodalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  .myheading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }
  
  .mymodalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }
  
  .mymodalActions {
    /* position: absolute; */
    /* bottom: 2px; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .myactionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .mycloseBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
         -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
        -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
        inset 1px -1px 2px 0 rgba(102, 102, 102, 0.2),
        -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
        1px 1px 3px 0 rgba(102, 102, 102, 0.9);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }
  
  .mycloseBtn:hover {
    box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
         -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
        -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
        inset 1px -1px 2px 0 rgba(102, 102, 102, 0.2),
        -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
        1px 1px 3px 0 rgba(102, 102, 102, 0.9);
    transform: translate(-4px, 4px);
  }
  
  .mydeleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
  }
  
  .mydeleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
  }
  
  .mycancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
  }
  
  .mycancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }

  input[type="text"].GroupName{
      border: none;
      outline: none;
      background: none;
      /* Add your custom styles here */
      padding: 5px 10px;
      margin: 0;
      /* font-size: 16px; */
      /* font-weight: 100; */
      opacity: 1;
      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      letter-spacing:0.5px;
  }
 .GroupNamecontainer {
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    display: flex;
    cursor: pointer;
  }

  input[type="text"]::placeholder {
    color: #D8C8FF;
  }
  input[type="search"]::placeholder {
    color: #D8C8FF;
}
  input[type="email"]::placeholder {
    color: #D8C8FF;
}
  input[type="number"]::placeholder {
    color: #D8C8FF;
}
textarea::placeholder {
  color: #D8C8FF;
}

/* voice call */
.voiceCalling{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.voiceCallEnd{
  display: flex;
  justify-content: center;align-items: center;
}
.callEndButton{
  height: 50%;
  width: 40%;
  background-color: red;
  display: flex;
  padding: 2%;
  justify-content: center;align-items: center;
  border-radius: 30px ;
  cursor: pointer;
}
.voiceCallEnd{
  margin: 10%;
  display: flex;
  justify-content: center;align-items: center;
}
.voiceSender{
  border-radius: 40px;
  padding: 2px;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
  inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
  -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
  1px -1px 2px 0 rgba(102, 102, 102, 0.2),
  -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
  1px 1px 3px 0 rgba(102, 102, 102, 0.9); 
}
.voiceReceiver{
  border-radius: 40px;
  padding: 2px;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
                inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
                -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
                1px -1px 2px 0 rgba(102, 102, 102, 0.2),
                -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
                1px 1px 3px 0 rgba(102, 102, 102, 0.9); 
}
.videoSender{
  border-radius: 40px;
  padding: 2px;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
  inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
  -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
  1px -1px 2px 0 rgba(102, 102, 102, 0.2),
  -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
  1px 1px 3px 0 rgba(102, 102, 102, 0.9); 
}
.videoReceiver{
  border-radius: 40px;
  padding: 2px;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
                inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
                -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
                1px -1px 2px 0 rgba(102, 102, 102, 0.2),
                -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
                1px 1px 3px 0 rgba(102, 102, 102, 0.9); 
}
/* video call */
.videoCalling{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calling {
  border: none;
  width: 40%;
  height: 5px; /* Adjust height as needed */
  margin: 2% 0;
  position: relative;
  overflow: hidden;
  opacity: 1;
  box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
                inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
                -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
                1px -1px 2px 0 rgba(102, 102, 102, 0.2),
                -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
                1px 1px 3px 0 rgba(102, 102, 102, 0.9); 
}

.calling::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right, transparent 50%, rgb(8, 255, 8) 50%); */
  background-image: linear-gradient(to right, transparent 50%, rgb(8, 255, 8) 50%);
  background-size: 8px 100%;
  animation: dash 2s linear infinite; /* Adjust animation duration as needed */
  
  
}

@keyframes dash {
  from {
    left: -100%; /* Move the pseudo-element from left to right */
  }
  to {
    left: 100%; /* Move the pseudo-element completely out from right side */
  }
}


.callEndButton{
  height: 50%;
  width: 40%;
  background-color: red;
  display: flex;
  padding: 2%;
  justify-content: center;align-items: center;
  border-radius: 30px ;
  box-shadow:inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
  inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
  -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
  1px -1px 2px 0 rgba(102, 102, 102, 0.2),
  -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
  1px 1px 3px 0 rgba(102, 102, 102, 0.9);
}
.videoCallEnd{
  cursor: pointer;
  margin: 10%;
  display: flex;
  justify-content: center;align-items: center;

}


/* message scheduling */
.MessageSchedularcontainer {
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
input[type="text"].scheduleMessage{
  border: none;
  outline: none;
  background: none;
  /* Add your custom styles here */
  padding: 5px 10px;
  margin: 0;
  /* font-size: 16px; */
  /* font-weight: 100; */
  opacity: 1;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing:0.5px;
}
input[type=date]::-webkit-datet-edit-text {
    -webkit-appearance: none;
    /* display: none; */
    
}
input[type=date]::-webkit-datet-edit-month-field{
  -webkit-appearance: none;
  /* display: none; */
}
input[type=date]::-webkit-date-edit-day-field {
  -webkit-appearance: none;
  /* display: none; */
}
input[type=date]::-webkit-datet-edit-year-field {
  -webkit-appearance: none;
  /* display: none; */
}
input[type=time]::-webkit-datetime-edit-hour-field {
  -webkit-appearance: none;
  /* display: none; */
}
input[type=time]::-webkit-datetime-edit-minute-field {
  -webkit-appearance: none;
  /* display: none; */
}
input[type=date]{
  border: none;
  width: 50%;
  padding: 1px 10px;
  border-radius: 5px;
  /* color: #D8C8FF; */
  color: black;
}
input[type=time] {
  border-radius: 5px;
  color: black;
  /* color: #D8C8FF; */
  border: none;
  width: 50%;
  padding: 1px 10px;
}
input[type=date]:focus {
  /* color: #ff0000; Placeholder text color [nding.....? */
  outline:#D8C8FF
}
input[type=time]:focus {
  /* color: #ff0000; Placeholder text color [nding.....? */
  outline:#D8C8FF
}
::-webkit-calendar-picker-indicator{
  color: #D8C8FF;
  /* background-color: #D8C8FF; */
  padding:5px;
  cursor: pointer;
}
.verticalLine{
  height: 20px;
  border-left: 1px solid #D8C8FF;
}

/* file  */
.fileDefaultContent{
  font-size: 35px;
  opacity: 0.2;
  margin: 0;
}

.selectFilePreview{
  cursor: not-allowed;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
height: 110px;
width: 100%;
display: flex;
justify-items: flex-start;
/* justify-content: center; */
align-items: center;
}
.filePM{
  padding: 15px 0px;
  
}
.friendProfileIcon{
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
   padding: 10px;
   border: 1px solid #BA9FFB  ;
}
.friendProfileIcon:hover {
  background-color: #ecf6ff;
  margin: 5px;
  border-radius: 10px;
   padding: 10px;
   border: 1px solid #BA9FFB  ;
}
.fileTypeIcon{
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
   padding: 10px;
   border: 1px solid #BA9FFB  ;
}
.fileTypeIcon:hover {
  background-color: #ecf6ff;
  margin: 5px;
  border-radius: 10px;
   padding: 10px;
   border: 1px solid #BA9FFB  ;
}
.fileShowContainer{

  margin: 2px;
  border: 2px solid #BA9FFB;
  padding: 4px;
  border-radius: 0px 15px;
}

