#feedbackFormContainer{
        height: fit-content;
        border-radius: 5px;
        margin: 5%;
        padding: 10px 0;
        box-shadow: inset 1px 1px 2px 0px rgba(255, 254, 255, 0.2),
            inset -1px -1px 2px 0px rgba(102, 102, 102, 0.5),
            -1px 1px 2px 0 rgba(102, 102, 102, 0.2),
            1px -1px 2px 0 rgba(102, 102, 102, 0.2),
            -1px -1px 2px 0 rgba(255, 255, 255, 0.9),
            1px 1px 3px 0 rgba(102, 102, 102, 0.9);
}

@media (max-width: 992px) {
    #feedbackFormContainer{
        margin: 10% 5%;
    }
}