.left-container {
  margin: 5px 0px;
}

.left-container .messageBox {
  position: relative;
  box-sizing: content-box;
  width: fit-content;
  max-width: 40%;
  height: fit-content;
  border: 1px solid #DADADA;
  background-color: #F6F2FF;
  padding: 5px 8px;
  border-radius: 0px 10px 10px 10px;
  overflow-wrap: anywhere;
}

.time {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  right: 7px;
  font-size: 11px;
}

.left-container .messageBox p {
  margin: 0;
}

.receiveArrowDown {
  position: absolute;
  top: 0px;
  z-index: 2;
  right: 0px;
  display: none;
}

.messageBox:hover .receiveArrowDown {
  display: inline-block;
  /* or any other display property you prefer */
}

.textMsg {
  list-style: 1;
  margin-right: 28px;
  font-size: 16px
}

@media (max-width: 992px) {
  .left-container .messageBox {
    max-width: 70%;
  }
}
@media (max-width: 992px) {
  .left-container {
    /* display: none; */
    /* position: fixed; */
    z-index: -1;
    /* width: 100%; Take up full width */
    /* margin-left: 0; Reset left margin */
    /* margin-right: 0; Reset right margin */
  }
  
}